<header>
    <div class="topnav">
        <a href="#" class="active">QUIZ<span id="logospan">ME</span></a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
        <div id="myLinks">
            <a href="#">Home</a>
            <a href="#">Contact</a>
            <a href="#">About</a>
        </div>
    </div>

    
</header>