<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/style.css">
    <script src="https://kit.fontawesome.com/4041ed350e.js" crossorigin="anonymous"></script>


</head>

<body>
    <header>
        <div class="topnav">
            <a href="#" class="active">QUIZ<span id="logospan">ME</span></a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
            <div id="myLinks">
                <a href="#">Home</a>
                <a href="#">Contact</a>
                <a href="#">About</a>
            </div>
        </div>

        <div class="header">
            <h1>QUIZ<span id="logospan">ME</span></h1>

        </div>
        <div class="canvas-wrap">
            <canvas id="canvas"></canvas>
        </div>
        <!-- <div class="content">
            <h1>Animated waves...</h1>
          </div> -->
    </header>
    <main>

        <section id="first-section">
            <p>

                <em id="emps">
                    90%
                </em>
                of students who use Quiz<span id="logospan">me</span> report higher grades.
            </p>
        </section>
        <section id="secand-section">
            <div id="insecand-section">
                <div id="insecand-sectiondiv-2">
                    <h2>
                        You bring the brains, we’ll bring everything else
                    </h2>
                    <p>
                        From flashcards to help you learn francais, to games that make it easy to get a handle on
                        history, use a variety of tools to conquer any challenge.

                    </p>
                </div>
                <img src="/imges/firstimg.png" alt="" srcset="">
            </div>
          
        </section>


        <section id="third-section">
            <div id="inthird-section">
                <img src="/imges/secimg.png" alt="" srcset="">
                <div id="inthird-sectiondiv-2">
                    <h2>
                        Your next win is just
                        a fact away
                                        </h2>
                    <p>
                        From flashcards to help you learn francais, to games that make it easy to get a handle on
                        history, use a variety of tools to conquer any challenge.

                    </p>
                </div>
            </div>
        </section>
    </main>
    <!-- start for the footer -->
    <footer class="footer-distributed">

        <div class="footer-left">

            <h3>QUIZME</h3>

            <p class="footer-links">
                <a href="#">Home</a>
                ·
                <a href="#">About-Us</a>
                ·
                <a href="#">Contact</a>
            </p>

            <p class="footer-company-name">QUIZME@yahoo.com</p>

            <div class="footer-icons">

                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>

            </div>

        </div>

        <div class="footer-right">

            <p>Contact Us</p>

            <form action="#" method="post">

                <input type="text" name="email" placeholder="Email">
                <textarea name="message" placeholder="Message"></textarea>
                <button>Send</button>

            </form>

        </div>

    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="js/app.js"></script>
</body>

</html>