
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/table.css">
    <link rel="stylesheet" href="/styles/form.css">
    <title>Search</title>
</head>
<body>
    <head>

    </head>
    <main>
        <section class="form-section">
            <div class="form-div">
                <form action="/searches" method="post">
                    <input placeholder="Type Word" type="text" name="word" required="">
                    
                    <button class='form-btn' type="submit">SEARCH</button>
                </form>
            </div>
        </section>
    </main>
    
</body>
</html>


