<section class="form-section" action="/searches" method="post">
    <div class="form-div">
        <form action=""></form>
        <input placeholder="Type Word" type="text" name="word" required="">

        <button class='form-btn' type="submit">SEARCH</button>
    </div>
</section>