<section class="form-section">
    <div class="form-div">
        <form action="/searches" method="post">
            <input placeholder="Type Word" type="text" name="word" required>

            <button class='form-btn' type="submit">SEARCH</button>
        </form>
    </div>
</section>