
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/table.css">
    <link rel="stylesheet" href="/styles/form.css">
    <script src="https://kit.fontawesome.com/4041ed350e.js" crossorigin="anonymous"></script>

    <title>Search</title>
</head>
<body>
    <%- include ('layout/nav.ejs') %>
    <main>
        <section class="form-section">
            <div class="form-div">
                <form action="/searches" method="post">
                    <input placeholder="Type Word" type="text" name="word" required="">
                    
                    <button class='form-btn' type="submit">SEARCH</button>
                </form>
            </div>
        </section>
    </main>
    <%- include ('layout/footer.ejs') %>
    <script src="js/nav.js"></script>
</body>

</html>


