body {
    background-color: black;
    background-image: linear-gradient(306deg, rgba(54, 54, 54, 0.05) 0%, rgba(54, 54, 54, 0.05) 33.333%,rgba(85, 85, 85, 0.05) 33.333%, rgba(85, 85, 85, 0.05) 66.666%,rgba(255, 255, 255, 0.05) 66.666%, rgba(255, 255, 255, 0.05) 99.999%),linear-gradient(353deg, rgba(81, 81, 81, 0.05) 0%, rgba(81, 81, 81, 0.05) 33.333%,rgba(238, 238, 238, 0.05) 33.333%, rgba(238, 238, 238, 0.05) 66.666%,rgba(32, 32, 32, 0.05) 66.666%, rgba(32, 32, 32, 0.05) 99.999%),linear-gradient(140deg, rgba(192, 192, 192, 0.05) 0%, rgba(192, 192, 192, 0.05) 33.333%,rgba(109, 109, 109, 0.05) 33.333%, rgba(109, 109, 109, 0.05) 66.666%,rgba(30, 30, 30, 0.05) 66.666%, rgba(30, 30, 30, 0.05) 99.999%),linear-gradient(189deg, rgba(77, 77, 77, 0.05) 0%, rgba(77, 77, 77, 0.05) 33.333%,rgba(55, 55, 55, 0.05) 33.333%, rgba(55, 55, 55, 0.05) 66.666%,rgba(145, 145, 145, 0.05) 66.666%, rgba(145, 145, 145, 0.05) 99.999%),linear-gradient(90deg, rgb(9, 201, 186),rgb(0,86,145));
    height: 100vh;
    background-repeat: no-repeat;
    font-family: monospace;
    font-size: x-large;
    color: rgba(256,0,0, 0.8);
    text-shadow:0 0 1ex rgba(0,86,145, 1),0 0 2px rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .Error {text-transform: uppercase;width: 25em;
      margin-top: 5em;}
  .Error_text {color: rgba(0,0,0, 0.8);text-shadow:0 0 1px rgba(0,86,145, 0.4),0 0 2px rgba(255, 255, 255, 0.8);}
  .Error_text::before {content: "> ";}
  .Error_code {color: white;}
  .Error_text a{color: #fff;text-decoration: none;}
  .Error_text a::before {content: "[";}
  .Error_text a::after {content: "]";}

  #smile {
      text-align: center;
      font-size: 40px;
      color: #fff;
  }